@import "./fonts/clash-display.css";
@import "general/Colours.scss";
@import "general/Typography.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ClashDisplay-Medium';
}

