//! Primary Colors
$green-1:#1E4C2F;       $black-1:#0B0F0E;
$green-2:#257E34;       $black-2:#1D2322;
$green-3:#1D9E34;       $black-3:#313736;

//! Secondary Colors
$grey-1:#818B9C;       $L-Grey-1:#F1F1F1;
$grey-2:#919EAB;       $L-Grey-2:#F6F6F6;
$grey-3:#C4C8CC;       $L-Grey-3:#F9F9F9;

$D-grey-1:#E4E9EE;       
$D-grey-2:#F6F8FA;       
$D-grey-3:#F7F7F7;       

//! Support Colors
$orange-1:#FFA439;       $red-1:#E04124;
$orange-2:#FFD5B8;       $red-2:#EF907F;
$orange-3:#FCECE1;       $red-3:#F9BCB1;